h1 { 
    color: #3E8914 ;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #E8FCCF;
    
}

header
{
  padding: 12px;
  background: #134611;
  color: #96E072;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    font-size: 30px;
    margin: 0;
    margin-right: 20px; 
  }

header h2 {
    font-size: 20px;
    margin: 0;
    margin-right: 20px; 
  }

header a {
    box-shadow: inset 0 0 0 0 #96E072;
    color: #96E072;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    display: inline-block;
  }

header a:hover {
    box-shadow: inset 100px 0 0 0 #96E072;
    color: #3E8914;
  }

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

.header-left{
    flex:1;
    padding:15px;
}

.header-right a{
    text-decoration: none;
    color: #E8FCCF;
    margin: 0 10px;
}

footer
{
    bottom: 0;
    padding: 12px;
    background: #134611;

    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

.footer-left{
    padding: 20px;
    flex:1;
    text-align: left;
}
.footer-left > * {
    color: #96E072;
}
.footer-left > *:first-child {
    font-weight: bold;
}


.footer-center{
    flex: 1;
    text-decoration: none;
    color: #E8FCCF;
    margin: 10px 10px;
}

.footer-right {
    padding: 20px;
    text-decoration: none;
    color: #E8FCCF;
    text-align: left;
}

#subskrypcja{
    background-color: #E8FCCF;
    color:#134611;
}

nav a {
    font-size: 14px;
  }

main{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom:20px;
    padding: 20px;
    background-color: #E8FCCF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main h1{
    text-align: center;
}
main article img 
{ 
    width: 100%;
    height: 305px;
    object-fit: cover;
    border-color: #E8FCCF; border-style: solid ;
    background-color: #E8FCCF;
    background-position: center;
}

main article img:hover 
{ 
    border-color: #134611; border-style: solid ;
    
    filter: sepia(70%);

    -webkit-filter: sepia(70%);
    -moz-filter: sepia(70%);
    -o-filter: sepia(70%);
    -ms-filter: sepia(70%);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #3DA35D;
    color: white;
  }

.fa:hover {
    opacity: 0.7;
  }
  
section.aktualnosci, 
section.przepis, 
section.kontakt {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #eeeeee;
    font-family: Arial, Helvetica, sans-serif;  
}
section.aktualnosci article, 
section.przepis article, 
section.kontakt article {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #E8FCCF;
}

section.aktualnosci .aktualnosc-content, 
section.przepis .przepis-content 
section.kontakt .kontakt-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #E8FCCF;
}
section.aktualnosci .aktualnosc-content figure {
    margin: 0;
    
}
section.aktualnosci .aktualnosc-content img,
section.przepis .przepis-content img 
section.kontakt .kontakt-content img{
    max-width: 50%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
section.aktualnosci .aktualnosc-content .aktualnosc-text {
    flex: 1;
    padding: 10px;
}
figcaption{
    display: block;
    font-size: 90%;
    text-align: center;
    color:  #134611;
}
section.aktualnosci h2,
section.kontakt h2,
section.przepis h2{
    color:  #134611;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
section.aktualnosci article h2 {
    text-align: left;
}

section.aktualnosci article h3,
section.aktualnosci article p {
    color: #3DA35D;
}

[title="pozdrowienia"]{
    font-weight: bold; 
}

section.kontakt table{
    color:  #134611;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 20px;
}
section.kontakt th {
    background-color: #134611;
    color: #E8FCCF;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}
section.kontakt td {
    border: 1px solid #ddd;
    padding: 10px;
}

section.kontakt td a {
    text-decoration: none;
    color: #134611;
    font-weight: bold;
}

section.kontakt td a:hover {
    text-decoration: underline;
}
.kontakt-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kontakt figure,
.przepis figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.przepis-text{
    padding:20px 20px 20px 50px;
}

.przepis-text h3{
    color:#3E8914;
}
.przepis-text p, ul, ol, li{
    color:#134611;
}