table, td, th{
    border: 1px solid orange;   
    width: 50%;
}
tr { 
    line-height: 20px;
}
#message {
    background: orange;
    color: black;
    width: 400px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }

table tr:nth-child(odd) td{
    background-color: rgba(255, 166, 0, 0.671);
}
table tr:nth-child(even) td{
    background-color: rgba(0, 255, 255, 0.712);
}